{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
<p style="text-align: center; font-size: .8em">Data końcowa działa <b>włącznie</b> (wybierać do ostatniego dnia miesiąca)</p>
<p style="text-align: center; font-size: .8em">Trzeba wybrać datę początek i koniec</p>
<p style="text-align: center; font-size: .8em">Lewy przycisk (Zorganizowany) nic nie robi</p>

    <form style="display: flex; flex-direction: column; align-items: center" action="getOrders" method="POST">
        {% csrf_token %}
        <div style="display: flex; width: 390px; justify-content: space-between; align-items: center">
            <span style="padding-right: 1px">Od: </span>
            <input type="date" name='date-from'/>
            <span style="padding-right: 1px">Do: </span>
            <input type="date" name='date-to'/>
        </div>
        <div style="margin-top: 20px">
            <input style="border: none; width: 130px; height: 30px; color: #fff; background: #000; cursor: pointer;" value="Zorganizowany" type="submit" name="submit-zor" required/>
            <input style="border: none; width: 130px; height: 30px; color: #fff; background: #ff5a00; cursor: pointer;"  value="Allegro + Zor" type="submit" name="submit-allegro"/>
        </div>
    </form>
</body>
</html>